.form{
    width: 50%;
    margin: auto;
    margin-bottom: 50px;
}

li{
    display: flex;
    padding: 1%;
}

.lista_contacto{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 12pt;
    padding: 0;
}

.lista_contacto li div{
    width: 15%;
}

.email input{
    width: 60%;
}

.mensaje input{
    width: 60%;
    height: 30%;
}

.submit{
    margin-left: 30%;
}
#footer {
	background: #caceca;
	height: 90px;
	text-align: center;
}

#footer img {
	vertical-align: text-bottom;
}

#footer p {
    margin: 0px;
    text-align: center;
}