a {
    text-decoration: none;
    color: #000;
}

p {
    font-size: 2em;
    margin: 7%;
    text-align: justify; 
}

.flex-container
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 80vw;
    margin: 0 auto;
}
.flex-container div.flex
{
    flex: auto;
    width: 200px;
    margin: 0;
}
.flex-container div.flex img
{ 
    width: 100%; 
    height: auto;
    border: 1px solid #000;
    margin: 5%;
}

h2 {
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: 4em;
    padding: 2%;
    border: 1px double #000;
    width: 80vw;
    margin: auto;
    margin-top: 5%;
    transition-property: background, color;
    transition-duration: 3s;
}

h2:hover {
    background: #000;
    color: #fff;
}

@media (min-width: 680px) {
    .flex-container div.flex img {
        width: 100%;
    }
    .flex-container div.flex {
        flex-basis: 30%;
    }
}

@media (max-width: 500px) {
    h2 {
        font-size: 3em;
    }
}

.galeria {
    margin: 5%;
}